.error-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

    h1 {
        color: $text-color;
    }

    a {
        color: $text-color;
    }
}