@import './styles/colors';
@import './layout/header';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import './layout/home';
@import './layout/about';
@import './layout/error';

html {
  height: 100vh;
}


.App {
  background-color: $background-color;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
  gap: 300px;

  &-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;

    &__title {
      color: $text-color;
    }

    &__input {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;

      &-top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;

        &__button {
          padding: 20px 10px;
          background-color: $button-color;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          transition: opacity .2s ease-in-out;

          :hover {
            opacity: .5;
            color: $button-color;
          }
        }
      }

      &-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__item {
          color: $text-color;
        }

        ul {
          padding: 0;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          li {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: bold;
          }


          
        }

        &-button-components {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          gap: 10px;

          &-delete {
            padding: 10px 30px;
            background-color: $delete-button;
            font-family: 'Poppins', sans-serif;
            border: none;
            color: $text-color;
            border-radius: 10px;
          }

          &-clear {
            padding: 10px 30px;
            background-color: $button-color;
            font-family: 'Poppins', sans-serif;
            border: none;
            color: $text-color;
            border-radius: 10px;
          }

          &-completed {
            padding: 10px 30px;
            background-color: $complered-button;
            font-family: 'Poppins', sans-serif;
            border: none;
            color: $text-color;
            border-radius: 10px;
          }

          &-delete, &-completed, &-clear  {
            transition: opacity .3s ease-in-out;
            &:hover {
              opacity: .5;
            }
          }

        }
      }
    }
  }
}
